:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --link-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #f5f4fa;
  --primary-btn-color: #2196f3;
  --second-btn-color: #188ce8;
  --text-btn-color: #212121;
  --second-text-btn-color: #ffffff;
  --primary-color: #ffffff;
  --footer-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  min-width: 73px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/*---------------HEADER---------------*/

.logo-web {
  color: var(--accent-color);
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  width: 145px;
}

.logo-footer {
  color: var(--accent-color);
  display: flex;
  margin-bottom: 20px;
  margin-right: 93px;
  width: 145px;
}

.logo-studio {
  color: #000000;
}

.logo-studio-footer {
  color: var(--primary-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  background: var(--primary-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

/*----------------MAIN------------*/
.main {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.main-btn {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--second-btn-color);
}

/*--------------SECTION----------*/
.section-list {
  display: flex;
}

.section-item:not(:last-child) {
  margin-right: 30px;
}

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  flex-basis: calc((100% - 60px) / 3);
}

.about-command-list {
  display: flex;
}

.about-command-item:not(:last-child) {
  margin-right: 30px;
}

.about-command {
  background: #f5f4fa;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-item {
  flex-basis: calc((100% - 90px) / 4);
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.about-title,
.about-command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.about-command-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-command-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.about-command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.about-command-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
  margin-bottom: 16px;
}

.command-social-list {
  display: flex;
  justify-content: center;
}

.command-social-item {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.command-social-item + .command-social-item {
  margin-left: 10px;
}

.command-social-icon {
  fill: rgba(175, 177, 184, 1);
}
.command-social-link {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
}

/*---------------FOOTER----------*/
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-color);
  width: 231px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/*--------------PORTFOLIO----------*/
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-btn-color);
  background-color: var(--btn-color);

  border-radius: 4px;
  padding: 6px 22px;
  border: 2px solid transparent;
}

.filters-btn:focus,
.filters-btn:hover {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-link-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
